<ui-centered-layout title="Create New User">
  <form [formGroup]="adminCreateForm" (ngSubmit)="onSubmit()" class="contents">
    <ui-form-field label="Username" forId="username">
      <input id="username" type="text" formControlName="username" placeholder="john.doe" uiInput />
    </ui-form-field>

    <ui-form-field label="Email" forId="email">
      <input id="email" type="email" formControlName="email" placeholder="your@email.com" uiInput />
    </ui-form-field>

    <ui-form-field label="Role" forId="role">
      <select id="role" formControlName="role" uiSelect>
        <option *ngFor="let option of roles" [value]="option.value || option">{{ option.label || option }}</option>
      </select>
    </ui-form-field>

    <ui-alert *ngIf="error$ | async as error" type="error" [message]="error"></ui-alert>

    <ui-button type="submit" [disabled]="adminCreateForm.invalid || ((isLoading$ | async) ?? false)" [fullWidth]="true">
      <ui-spinner *ngIf="(isLoading$ | async) ?? false" size="sm" class="mr-3 -ml-1"></ui-spinner>
      Create User
    </ui-button>
  </form>
</ui-centered-layout>
