<ui-dashboard-layout>
  <ui-folder-sidebar
    layout-sidebar
    title="My Workspace"
    [subtitle]="((files$ | async)?.length || 0) + ' files'"
    initials="ME"
    themeColor="BLUE"
    headerVariant="initials"
    [folders]="folders$ | async"
    (folderClick)="onFolderClick()"
  >
  </ui-folder-sidebar>

  <ui-page-action-bar (newFolder)="onNewFolder()" (uploadFile)="onUploadFile()">
    <div left-actions class="flex items-center ml-2">
      <ui-breadcrumbs [items]="breadcrumbs" (itemClick)="onBreadcrumbClick($event)"></ui-breadcrumbs>
    </div>
  </ui-page-action-bar>

  <ui-file-table [files]="files$ | async"></ui-file-table>
</ui-dashboard-layout>
