<ui-workspace-shell
  title="My Workspace"
  [subtitle]="store.team()?.description || ''"
  initials="ME"
  [themeColor]="store.team()?.color || defaultColor"
  [breadcrumbs]="breadcrumbs"
  [files]="store.files()"
  [folders]="store.folders()"
  (folderClick)="store.team()?.id && store.onFolderClick(store.team()!.id, $event)"
  (newFolder)="store.team()?.id && store.onNewFolder(store.team()!.id)"
  (uploadFile)="store.team()?.id && store.onUploadFile(store.team()!.id, $event)"
  (breadcrumbClick)="onBreadcrumbClick($event)"
>
</ui-workspace-shell>
