<ui-centered-layout title="LucidRF" subtitle="Set your password to activate your account">
  <form [formGroup]="setupForm" (ngSubmit)="onSubmit()" class="contents">
    <ui-form-field label="New Password" forId="password" [error]="passwordError">
      <input
        id="password"
        type="password"
        formControlName="password"
        placeholder="Enter new password"
        uiInput
        [hasError]="!!passwordError"
      />
    </ui-form-field>

    <ui-alert *ngIf="error$ | async as err" type="error" [message]="err"></ui-alert>

    <ui-button type="submit" [disabled]="setupForm.invalid || ((isLoading$ | async) ?? false)" [fullWidth]="true">
      <ui-spinner *ngIf="(isLoading$ | async) ?? false" size="sm" class="mr-2"></ui-spinner>
      <span *ngIf="!((isLoading$ | async) ?? false)">Activate Account</span>
      <span *ngIf="(isLoading$ | async) ?? false">Activating...</span>
    </ui-button>
  </form>
</ui-centered-layout>
