<ui-centered-layout title="LucidRF" subtitle="Set your password to activate your account">
  <form [formGroup]="setupForm" (ngSubmit)="onSubmit()" class="contents">
    <ui-form-field label="New Password" forId="password" [error]="passwordError">
      <input
        id="password"
        type="password"
        formControlName="password"
        placeholder="Enter new password"
        uiInput
        [hasError]="!!passwordError"
      />
    </ui-form-field>

    @if (error(); as err) {
    <ui-alert type="error" [message]="err"></ui-alert>
    }

    <ui-button type="submit" [disabled]="setupForm.invalid || isLoading()" [fullWidth]="true">
      @if (isLoading()) {
      <ui-spinner size="sm" class="mr-2"></ui-spinner>
      } @if (!isLoading()) {
      <span>Activate Account</span>
      } @if (isLoading()) {
      <span>Activating...</span>
      }
    </ui-button>
  </form>
</ui-centered-layout>
