@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-lrf-dark bg-lrf-bg font-sans antialiased;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
